In [1]:
import pandas as pd
from IPython.display import HTML

In [ ]:
# import numpy as np
# from pandas import *
# df = DataFrame({'foo1' : np.random.randn(2),
#                    'foo2' : np.random.randn(2)})
# df.to_html('filename.html')

In [2]:
latitude_data = "Resources/cities.csv"
latitude_df = pd.read_csv(latitude_data)

In [3]:
latitude_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Avera,1,US,1563660458,49,33.19,-82.53,93.20,5.82
1,1,Kachiry,3,KZ,1563660458,77,53.07,76.10,66.76,5.01
2,2,Srednekolymsk,100,RU,1563660459,52,67.46,153.71,51.64,11.45
3,3,Kapaa,90,US,1563660459,66,22.08,-159.32,86.00,12.75
4,4,Uvelskiy,100,RU,1563660459,93,54.44,61.36,66.04,11.83

In [10]:
HTML(latitude_df.to_html(classes= 'table table-striped table-hover table-responsive'))

latitude_df.to_html('latitude_data_pandas.html')

In [11]:
latitude_df.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,Avera,1,US,1563660458,49,33.19,-82.53,93.20,5.82
1,1,Kachiry,3,KZ,1563660458,77,53.07,76.10,66.76,5.01
2,2,Srednekolymsk,100,RU,1563660459,52,67.46,153.71,51.64,11.45
3,3,Kapaa,90,US,1563660459,66,22.08,-159.32,86.00,12.75
4,4,Uvelskiy,100,RU,1563660459,93,54.44,61.36,66.04,11.83